@{
    ViewData["Title"] = "Home Page";
}


<p>this page is to test different Azure Storage Services.</p>

<div class="row">
    <div class="col-3">
        <h2>Storage</h2>
        <ul>
            <li>
                <a asp-area="" asp-controller="Storage" asp-action="CreateContainer">Create Container</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Storage" asp-action="UploadFile">Upload file</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Storage" asp-action="UploadFile2">Upload file2</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Storage" asp-action="Containers">Container List</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Storage" asp-action="BlobsList">Blob List</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Storage" asp-action="Index">Storage Information</a>
            </li>
        </ul>
    </div>
    <div class="col-3">
        <h2>Table</h2>
        <ul>
            <li>
                <a asp-area="" asp-controller="Table" asp-action="CreateTable">Create Table</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Table" asp-action="CreateItemTable">Create item in table</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Table" asp-action="GetItemTable">Get item table</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Table" asp-action="CreateItemsTable">Create items table</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Table" asp-action="GetItemsTable">Get items table</a>
            </li>
        </ul>
    </div>
    <div class="col-3">
        <h2>Queue</h2>
        <ul>
            <li>
                <a asp-area="" asp-controller="Queue" asp-action="CreateQueue">Create Queue</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Queue" asp-action="InsertMessage">Insert Message</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Queue" asp-action="ReadMessage">Read Message</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Queue" asp-action="Index">Storage Information</a>
            </li>
        </ul>
    </div>
    <div class="col-3">
        <h2>File Shared</h2>
        <ul>
            <li>
                <a asp-area="" asp-controller="File" asp-action="Index">Create File</a>
            </li>
            <li>
                <a asp-area="" asp-controller="File" asp-action="Privacy">Upload file</a>
            </li>
            <li>
                <a asp-area="" asp-controller="File" asp-action="Me">Blob List</a>
            </li>
            <li>
                <a asp-area="" asp-controller="File" asp-action="Index">Storage Information</a>
            </li>
        </ul>
    </div>
</div>
    
    
    

