@{
    ViewData["Title"] = "@mariobot";
}
<h1>@ViewData["Title"]</h1>

<p>this page is to test different Azure Storage Services.</p>

<p>This page have a some test to create and use </p>

Esta pagina es para probar los servicions de Container Azure.

Proyecto realizado por Mario Botero <a href="https://www.twitter.com/mariobot" target="_blank" class="" accesskey="hola">@@mariobot</a>

La arquitectura esta mal orientada y