@{
    ViewData["Title"] = "@mariobot";
}

<div class="row">
    <div class="col-3">
        <img class="img-fluid" src="~/content/azure-blob-icon.png" />
    </div>
    <div class="col-9">
        <br />
        <p>The website is to test different Azure Storage Services.</p>

        <p>This page have a some test to create and use the services from Azure Storage.</p>

        <p>Project by: Mario Botero <a href="https://www.twitter.com/mariobot" target="_blank" class="" accesskey="hola">@@mariobot</a></p>
        
    </div>
</div>

