@using Azure.Storage.Blobs.Models
@model Azure.AsyncPageable<BlobContainerItem>;

@{
    ViewData["Title"] = "Storage";
}

<h1>Cotainers list</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <td>Name</td>
                <td>Blob Type</td>
                <td>Open</td>
                <td>Delete</td>
            </tr>
            @await foreach(BlobContainerItem cont in Model)
            {
                <tr>
                    <td>@cont.Name</td>
                    <td>@cont.Properties.LastModified</td>
                    <td>
                    <a href="../Storage/BlobsList?containername=@cont.Name" class="btn btn-primary">Open</a>
                    <td>
                    <form asp-action="DeleteContainer">
                        <input type="hidden" value="@cont.Name" name="containername">
                        <div class="form-group">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                    </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div>
    <br />
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
