@{
    ViewData["Title"] = "Filed Shared";
}

<h1>Filed Shared</h1>

<p>In this page only share the resources to apply file shared between your state, I dont know how to say my name pero la verdad que recuerddo como escribir. 



</p>